@charset "ITF-8";
@font-face {
    font-family: 'Cordel';
    src: url(../fontes/Core\ Sans\ N\ SC\ W01\ 97\ Cn\ Black.ttf);
}

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --font-padrao: Arial, Helvetica, sans-serif;
    --font-destaque: 'Cordel';
    --font-texto: cursive;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    height: 210px;
}

header > h1 {
    font-family: var(--font-destaque);
    font-weight: lighter;
    padding-top: 50px;
    

    
}